@import '~@styles/shared/page-box';

.Result {
  &__name {
    text-align: center;
    padding: 5px;
    color: $color-white;

    @include phone {
      font-size: 14px;
    }

    @include tablet {
      font-size: 14px;
    }

    @include desktop {
      font-size: 16px;
    }
  }

  &__picture-card {
    height: 200px;
  }

  &__picture {
    height: 100%;
  }
}

.time {
  font-size: 13px;
  color: #999;
}

.bottom {
  margin-top: 13px;
  line-height: 12px;
}

.button {
  padding: 0;
  float: right;
}

.image {
  width: 100%;
  display: block;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}