@import '~@styles/shared/page-box';

.About {
  align-items: initial;

  &__buttons {
    width: 100%;
    text-align: center;
  }

  &__text-container {
    color: $color-gold;
  }
}

.titles{
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 150%;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(250px) rotateX(15deg);

  &:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
    pointer-events: none;
  }

  .titlecontent{
    position: absolute;
    top: 100%;
    animation: scroll 70s linear 1s infinite;
  }

  @keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
  }
}