@import '~@styles/variables/variables';
@import '~@styles/mixins/mixins';

.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    background: $color-background-grey;
    font-family: StarJhol;
    color: $color-gold;
    font-size: 20px;
    box-sizing: border-box;
    padding: 15px 15px;
    width: 100%;
    z-index: 100;
  }

  &__footer {
    background: $color-background-grey;
    box-sizing: border-box;
    padding: 15px 15px;
    width: 100%;
    z-index: 100;
  }

  &__logo {

    &__img {
      @include phone {
        width: 100px;
      }

      @include tablet {
        width: 100px;
      }

      @include desktop {
        width: 150px;
      }
    }

    &--header {
      &--left{
          text-align: left;
      }

      &--right {
          text-align: right;
      }
    }

    &--footer {
      @include phone {
        text-align: center;
      }

      @include tablet {
        text-align: right;
      }

      @include desktop {
        text-align: right;
      }
    }
  }

  &__logout {
    &__text {
      padding-right: 20px;

      @include phone {
        line-height: 45px;
      }

      @include tablet {
        line-height: 45px;
      }

      @include desktop {
        line-height: 65px;
      }
    }
  }
}
