@import '~@styles/variables/variables';
@import '~@styles/mixins/mixins';

.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    background: $color-background-grey;
    box-sizing: border-box;
    padding: 15px 15px;
    width: 100%;
  }

  &__footer {
    background: $color-background-grey;
    box-sizing: border-box;
    padding: 15px 15px;
    width: 100%;
  }

  &__logo {

    &__img {
      @include phone {
        width: 100px;
      }

      @include tablet {
        width: 100px;
      }

      @include desktop {
        width: 150px;
      }
    }

    &--header {
      @include phone {
        text-align: center;
      }

      @include tablet {
        text-align: left;
      }

      @include desktop {
        text-align: left;
      }
    }

    &--footer {
      @include phone {
        text-align: center;
      }

      @include tablet {
        text-align: right;
      }

      @include desktop {
        text-align: right;
      }
    }
  }
}
