@import '~@styles/variables/variables';
@import '~@styles/mixins/mixins';

.Login {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  height: 1000px;

  &__box {
    position: relative;
    background-color: rgba(68, 68, 68, 0.2);
    margin: 0 auto;
    border-radius: 8px;
    font-family: StarJedi;
    padding: 5px 5px;

    @include phone {
      width: 300px;
      min-height: 300px;
    }

    @include tablet {
      width: 400px;
      min-height: 280px;
    }

    @include desktop {
      width: 400px;
      min-height: 300px;
    }

    &__header {
      color: $color-sw-tall-poppy;
      text-align: center;
    }
  }

  &__footer {
    position: absolute;
    padding: 15px 0px;
    text-align: center;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;

    &__button {
      background-color: $color-san-marino;
      border-color: $color-san-marino;
    }
  }
}
