$color-mine-shaft       : #303030;
$color-white            : #FFFFFF;
$color-mercury          : #E5E5E5;
$color-wild-sand        : #F4F4F4;
$color-akaroa           : #DCCEB7;
$color-cornflower-blue  : #3A8BBB;
$color-blumine          : #1E6189;
$color-tundora          : #444444;
$color-alabaster        : #FBFBFB;
$color-dusty-gray       : #999999;
$color-gallery          : #EEEEEE;
$color-silver           : #BBBBBB;
$color-blaze-orange     : #FF6600;
$color-ecstasy          : #FA7814;
$color-jaffa            : #EE8435;
$color-rolling-stone    : #77828A;
$color-spring-wood      : #F6F3EE;
$color-rope             : #90461C;
$color-tobacco-brown    : #6A5C48;
$color-black            : #000000;
$color-ebony-clay       : #232F3E;
$color-san-marino       : #4267B2;

$color-sw-straw         : #D6BF7C;
$color-sw-tacao         : #EFB087;
$color-sw-burnt-umber   : #882539;
$color-sw-tall-poppy    : #B42527;
$color-sw-sycamore      : #A1A23C;
$color-sw-deco          : #D7D892;
$color-sw-blue-zodiac   : #0C1C35;
$color-sw-blue-bayoux   : #3E5E77;
$color-sw-fun-blue      : #1A529D;
$color-sw-biscay        : #192F58;

$media-xsm          : 320px;
$media-sm           : 380px;
$media-md           : 500px;
$media-lg           : 780px;

$phone: "(max-width: #{$media-md})";
$tablet: "(min-width: #{$media-md}) and (min-height: #{$media-sm})";
$desktop: "(min-width: #{$media-lg})";
