$color-mine-shaft       : #303030;
$color-white            : #FFFFFF;
$color-mercury          : #E5E5E5;
$color-wild-sand        : #F4F4F4;
$color-akaroa           : #DCCEB7;
$color-cornflower-blue  : #3A8BBB;
$color-blumine          : #1E6189;
$color-tundora          : #444444;
$color-alabaster        : #FBFBFB;
$color-dusty-gray       : #999999;
$color-gallery          : #EEEEEE;
$color-silver           : #BBBBBB;
$color-blaze-orange     : #FF6600;
$color-ecstasy          : #FA7814;
$color-jaffa            : #EE8435;
$color-rolling-stone    : #77828A;
$color-spring-wood      : #F6F3EE;
$color-rope             : #90461C;
$color-tobacco-brown    : #6A5C48;
$color-black            : #000000;
