@import '~normalize.css';
@import '~@styles/variables/variables';
@import './third-party/element-theme/index.css';
@import './font-faces/star-wars/font-faces';

body {
  font-family: Helvetica, sans-serif;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input {
  outline: 0;
}

.el-dialog {
  background: $color-background-grey !important;

  &__wrapper {
    background: rgba(0, 0, 0, 0.6) !important;
  }
}

.el-upload--picture-card {
  background-color: transparent !important;
}

.el-upload {
  border: 2px dashed #fff !important;
  border-radius: 6px !important;
  position: relative !important;
  overflow: hidden !important;
}

.el-loading-mask {
  background: rgba(0, 0, 0, .8) !important;
}

.el-notification {
  width: 290px !important;
  background-color: #fff !important;
}