@import '~@styles/variables/variables';
@import '~@styles/mixins/mixins';

.Picture {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;

  &__box {
    position: relative;
    background-color: rgba(68, 68, 68, 0.2);
    margin: 0 auto;
    border-radius: 8px;
    font-family: StarJedi;
    padding: 5px 5px;

    @include phone {
      width: 300px;
      min-height: 300px;
    }

    @include tablet {
      width: 400px;
      min-height: 280px;
    }

    @include desktop {
      width: 400px;
      min-height: 300px;
    }

    &__header {
      color: $color-white;
      text-align: center;
    }
  }

  &__main {
    text-align: center;

    &__upload {

      &__icon {
        color: #fff;
        width: 150px;
        height: 150px;
        line-height: 150px;
      }
    }


    &__picture {
      width: 150px;
      height: 150px;
      display: block;
    }
  }

  &__footer {
    padding: 20px 0px 10px 0px;
    text-align: center;
    width: 100%;

    &__button--send {
      cursor: pointer;
      background-color: $color-sw-blue-bayoux;
      border-color: $color-sw-blue-bayoux;
    }

    &__button--previous {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.0);
      border-color: $color-gold;
    }
  }
}
